<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Liên hệ với chúng tôi:</span>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/profile.php?id=100011334946356" target="_blank">
                    <img src="https://i.imgur.com/LKNK8RT.jpeg" alt="Facebook" style="width: 24px; height: 24px;">
                    Facebook
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.youtube.com/channel/UCu7MtL1iBpn9tUYDgOTY2wg" target="_blank">
                    <img src="https://i.imgur.com/yyKgunL.jpeg" alt="YouTube" style="width: 24px; height: 24px;">
                    YouTube
                </a>
            </li>
        </ul>
    </div>
</footer>

<style>
    .footer {
        width: 100%;
        text-align: center;
        background-color: #f8f9fa;
        padding: 20px 0;
        position: relative;
        bottom: 0;
    }

        .footer .list-inline {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .footer .list-inline-item {
            display: inline-block;
            margin-right: 10px;
        }

            .footer .list-inline-item a {
                text-decoration: none;
                color: #000;
            }

                .footer .list-inline-item a:hover {
                    text-decoration: underline;
                }
</style>
